@font-face {
  font-family: "iconfontRuntime";
  src: url('../fontsnew/iconfont.woff2?t=1791425318531') format('woff2'),
       url('../fontsnew/iconfont.woff?t=1791425318531') format('woff'),
       url('../fontsnew/iconfont.ttf?t=1791425318531') format('truetype');
  font-display: swap;
}

.iconfont {
  font-family: "iconfontRuntime" !important;
}
